.departure-col {
  position: relative; /* 必须相对定位，以便伪元素正确定位 */
}

.departure-col::after {
  content: '';
  position: absolute;
  top: 40%;
  right: 10px; /* 箭头整体的位置，调整右偏移 */
  transform: translateY(-50%);
  display: block;
  width: 90px; /* 箭头线的长度 */
  height: 2px; /* 箭头线的粗细 */
  background-color: #dbdfe5;
}

.departure-col::before {
  content: '';
  position: absolute;
  top: 38%;
  right: 3px; /* 调整箭头尖端的位置 */
  transform: translateY(-50%);
  display: block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 10px solid #dbdfe5; /* 箭头尖端的颜色 */
}

