.container {
  display: flex;
  align-items: center;
  background-color: #fdfcf6;
  height: 60px;
}

.container-box {
  width: 80%;
  margin: 0 auto;
}

.ant-col {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1e4ce9;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #0056b3; /* 悬停时颜色变深 */
}

.search {
  font-size: 1rem;
  color: #333333;
}

.support {
  font-size: 1rem;
  color: #007bff; /* 蓝色文字 */
  cursor: pointer;
  transition: color 0.3s ease;
}

.support:hover {
  color: #0056b3; /* 悬停时颜色变深 */
}

.loginSignin {
  font-size: 1rem;
  color: #333333;
}

.loginSignin a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.loginSignin a:hover {
  color: #0056b3; /* 悬停时颜色变深 */
}

