.container {
  background-color: #fdfcf6; /* 白色背景 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  height: 60px; /* 固定高度 */
}

.container-box {
  width: 80%;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1e4ce9;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #0056b3; /* 悬停时颜色变深 */
}

.search {
  font-size: 1rem;
  color: #333333;
}

.support {
  font-size: 1rem;
  color: #007bff; /* 蓝色文字 */
  cursor: pointer;
  transition: color 0.3s ease;
}

.support:hover {
  color: #0056b3; /* 悬停时颜色变深 */
}

.loginSignin {
  font-size: 1rem;
  color: #333333;
}

.loginSignin a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.loginSignin a:hover {
  color: #0056b3; /* 悬停时颜色变深 */
}

