.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2-box {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  height: 100vh;
  box-sizing: border-box; 
}

